<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<span layout:fragment="title">Añadir servicio</span>
<main layout:fragment="content">
    <form action="#" th:action="@{/service/add}"
          th:object="${object}" method="post">
        <td><input type="hidden" id="area" th:field="*{area}"></td>
        <table>
            <tr>
                <th><label for="serviceType">Tipo de servicio</label></th>
                <td><select type="number" id="serviceType" th:field="*{serviceType}">
                    <option th:each="type : ${objectData['types']}" th:value="*{type.key}" th:text="*{type.value}" ></option>
                    </select>
                </td>
            </tr>
            <tr>
                <th><label for="scheduleStart">Fecha de inicio</label></th>
                <td><input type="date" id="scheduleStart" th:field="*{scheduleStart}"></td>
            </tr>
            <tr>
                <th><label for="scheduleEnd">Fecha de fin</label></th>
                <td><input type="date" id="scheduleEnd" th:field="*{scheduleEnd}"></td>
            </tr>
            <tr>
                <th><label for="periodStart">Hora de inicio</label></th>
                <td><input type="time" id="periodStart" th:field="*{periodStart}"></td>
            </tr>
            <tr>
                <th><label for="periodEnd">Hora de fin</label></th>
                <td><input type="time" id="periodEnd" th:field="*{periodEnd}"></td>
            </tr>
        </table>
        <input type="submit" value="Añadir servicio" class="btn btn-success" /></td>
    </form>
</main>