<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<span layout:fragment="title"
      th:text="'Servicios de ' + ${data[0].area.name} + ' (' + ${data[0].municipality.name} + ')'"></span>
<main layout:fragment="content">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Fechas de inicio</th>
            <th>Fechas de fin</th>
            <th>Hora de inicio</th>
            <th>Hora de fin</th>
            <th><a href="add" class="btn btn-success" role="button">Añadir area</a></th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${#lists.isEmpty(object)}">
            <td colspan="5">No hay ningún servicio registrado </td>
        </tr>
        <tr th:each="object: ${objects}">
            <td th:text="*{object.toScheduleString}"></td>
            <td th:text="*{object.toScheduleString}"></td>
            <td th:text="*{object.toPeriodString}"></td>
            <td th:text="*{object.toPeriodString}"></td>
            <td>
                <a th:if="${session.user instanceof T(app.model.MunicipalManager}"
                   th:href="@{/service/update/{id}(id=${object.id})}" class="btn btn-warning" role="button">Actualizar</a>
                <a th:if="${session.user instanceof T(app.model.MunicipalManager}"
                   th:href="@{/service/delete/{id}(id=${object.id})}"
                   onclick="return confirm('¿Seguro que desea eliminar el servicio?')"
                   class="btn btn-danger" role="button">Eliminar servicio</a>
            </td>
        </tr>
        </tbody>
    </table>
</main>