<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<span layout:fragment="title"
      th:text="'Actualizar servicios de ' + ${data.area.name} + ' (' + ${data.municipality.name} + ')'"></span>
<main layout:fragment="content">
    <form onsubmit="return confirm('¿Seguro que desea actualizar los datos y los datos son correctos?')"
            th:object="${object}" method="post">
        <table>
            <tr>
                <th><label for="serviceType">Tipo de servicio</label></th>
                <td><select required="required" id="serviceType" th:field="*{serviceType}">
                    <option th:each="type : ${data.typeSelect}" th:value="${type.id}" th:text="${type.name}"></option>
                </select>
                </td>
            </tr>
            <tr th:each="err : ${#fields.errors('serviceType')}">
                <td colspan="2">
                    <div class="alert alert-danger" role="alert" th:text="${err}"></div>
                </td>
            </tr>
            <tr>
                <th><label for="scheduleStart">Fecha de inicio</label></th>
                <td><input required="required" type="date" id="scheduleStart" th:field="*{scheduleStart}" th:attr="min=${data.today}" th:disabled="${object.scheduleStart.isBefore(data.today)}"></td>
            </tr>
            <tr th:each="err : ${#fields.errors('scheduleStart')}">
                <td colspan="2">
                    <div class="alert alert-danger" role="alert" th:text="${err}"></div>
                </td>
            </tr>
            <tr>
                <th><label for="scheduleEnd">Fecha de fin</label></th>
                <td><input type="date" id="scheduleEnd" th:field="*{scheduleEnd}" th:attr="min=${data.today}"></td>
            </tr>
            <tr th:each="err : ${#fields.errors('scheduleEnd')}">
                <td colspan="2">
                    <div class="alert alert-danger" role="alert" th:text="${err}"></div>
                </td>
            </tr>
            <tr>
                <th><label for="periodStart">Hora de inicio</label></th>
                <td><input required="required" type="time" id="periodStart" th:field="*{periodStart}"></td>
            </tr>
            <tr th:each="err : ${#fields.errors('periodStart')}">
                <td colspan="2">
                    <div class="alert alert-danger" role="alert" th:text="${err}"></div>
                </td>
            </tr>
            <tr>
                <th><label for="periodEnd">Hora de fin</label></th>
                <td><input required="required" type="time" id="periodEnd" th:field="*{periodEnd}"></td>
            </tr>
            <tr th:each="err : ${#fields.errors('periodEnd')}">
                <td colspan="2">
                    <div class="alert alert-danger" role="alert" th:text="${err}"></div>
                </td>
            </tr>
        </table>
        <input type="submit"
               value="Actualizar" class="btn btn-warning"/>
    </form>
</main>