<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/base}">
<span layout:fragment="title">Municipios</span>
<main layout:fragment="content">
    <p th:if="${#lists.isEmpty(object)}">No hay ningun municipio registrado</p>
    <table th:unless="${#lists.isEmpty(object)}" class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Validez</th>
                <th><a href="add" class="btn btn-success" role="button">Añadir municipio</a></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="object: ${object}">
                <td th:text="*{object.name}"></td>
                <td th:text="*{object.toSignString}"></td>
                <td>
                    <a th:href="@{/area/list/{id}(id=${object.id})}" class="btn btn-success" role="button">Ver areas</a>
                    <a th:href="@{update/{id}(id=${object.id})}" class="btn btn-warning" role="button">Actualizar</a>
                    <a th:href="@{delete/{id}(id=${object.id})}" class="btn btn-danger" role="button">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
</main>