<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<span layout:fragment="title">Municipios</span>
<main layout:fragment="content">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nombre</th>
            <th th:if="${session.user instanceof T(app.model.EnviromentalManager)}">Validez</th>
            <th>
                <a th:if="${session.user instanceof T(app.model.EnviromentalManager)}" href="add"
                   class="btn btn-success" role="button">Añadir</a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${#lists.isEmpty(object)}">
            <td colspan="3" th:if="${session.user instanceof T(app.model.EnviromentalManager)}">No hay ningun municipio registrado</td>
            <td colspan="2" th:unless="${session.user instanceof T(app.model.EnviromentalManager)}">No hay ningun municipio registrado</td>
        </tr>
        <tr th:each="object: ${object}">
            <td th:text="*{object.name}"></td>
            <td th:text="*{object.toSignString}" th:if="${session.user instanceof T(app.model.EnviromentalManager)}"></td>
            <td>
                <a th:href="@{/area/list/{id}(id=${object.id})}" class="btn btn-success" role="button">Ver areas</a>
                <a th:if="${session.user instanceof T(app.model.MunicipalManager) and session.user.municipality == object.id and object.active}"
                   th:href="@{/municipality/update/{id}(id=${object.id})}" class="btn btn-warning" role="button">Actualizar
                </a>
                <a th:if="${session.user instanceof T(app.model.EnviromentalManager) and object.active}"
                   th:href="@{/municipality/delete/{id}(id=${object.id})}"
                   onclick="return confirm('¿Seguro que desea dar de baja el municipio?')"
                   class="btn btn-danger" role="button">Dar de baja municipio
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</main>