<!DOCTYPE html>
<html data-layout-decorate="~{fragments/base}">
<span data-layout-fragment="title">Municipios</span>
<main data-layout-fragment="content">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nombre</th>
            <th data-th-if="${session.user instanceof T(app.model.EnviromentalManager)}">Validez</th>
            <th class="text-center" data-th-unless="${session.user instanceof T(app.model.MunicipalManager)}">Otros</th>
            <th class="text-center" data-th-if="${session.user instanceof T(app.model.MunicipalManager) or session.user instanceof T(app.model.EnviromentalManager)}">
                <a data-th-if="${session.user instanceof T(app.model.EnviromentalManager)}" href="add"
                   class="btn btn-success" role="button">Añadir</a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-if="${#lists.isEmpty(object)}">
            <td class="text-center" colspan="3" data-th-if="${session.user instanceof T(app.model.EnviromentalManager)}">No hay ningun
                municipio
                registrado
            </td>
            <td class="text-center" colspan="2" data-th-unless="${session.user instanceof T(app.model.EnviromentalManager)}">No hay ningun
                municipio registrado
            </td>
        </tr>
        <tr data-th-each="object: ${object}">
            <td data-th-text="*{object.name}"></td>
            <td data-th-text="*{object.toSignString}"
                data-th-if="${session.user instanceof T(app.model.EnviromentalManager)}"></td>
            <td class="text-center" data-th-unless="${session.user instanceof T(app.model.MunicipalManager)}">
                <a
                   data-th-href="@{/area/list/{id}(id=${object.id})}" class="btn btn-info" role="button">Areas</a>
            </td>
            <td class="text-center" data-th-if="${session.user instanceof T(app.model.MunicipalManager) or session.user instanceof T(app.model.EnviromentalManager)}">
                <a data-th-if="${session.user instanceof T(app.model.MunicipalManager)}"
                   data-th-href="@{/municipality/update}" class="btn btn-warning" role="button">Actualizar
                </a>
                <a data-th-if="${session.user instanceof T(app.model.EnviromentalManager)}"
                   data-th-href="@{/municipality/update/{id}(id=${object.id})}" class="btn btn-warning" role="button">Actualizar
                </a>
                <a data-th-if="${session.user instanceof T(app.model.EnviromentalManager) and object.active}"
                   data-th-href="@{/municipality/delete/{id}(id=${object.id})}"
                   onclick="return confirm('¿Seguro que desea dar de baja el municipio?')"
                   class="btn btn-danger" role="button">Dar de baja
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</main>