<!DOCTYPE html>
<html
        data-layout-decorate="~{fragments/base}">
<span data-layout-fragment="title">Actualizar un municipio</span>
<main data-layout-fragment="content">
    <form onsubmit="return confirm('¿Seguro que desea actualizar los datos y los datos son correctos?')"
          data-th-object="${object}" method="post">
        <table>
            <tr>
                <th><label for="name">Nombre</label></th>
                <td><input required="required" type="text" id="name" data-th-field="*{name}"></td>
            </tr>
            <tr data-th-each="err : ${#fields.errors('name')}">
                <td colspan="2">
                    <div class="alert alert-danger" role="alert" data-th-text="${err}"></div>
                </td>
            </tr>
        </table>
        <input type="submit" value="Actualizar"
               class="btn btn-warning"/>
    </form>
</main>