<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<span layout:fragment="title">Nueva reserva</span>
<main layout:fragment="content">
    <form action="#" th:action="@{/reservation/add}"
          th:object="${object}" method="post">
        <table>
            <tr>
                <th><label for="code">Codigo</label></th>
                <td><input type="number" id="code" th:field="*{code}"></td>
            </tr>
            <tr>
                <th><label for="areaPeriod">Periodo</label></th>
                <td><input type="number" id="areaPeriod" th:field="*{areaPeriod}"></td>
            </tr>
            <tr>
                <th><label for="date">Fecha</label></th>
                <td><input type="date" id="date" th:field="*{date}"></td>
            </tr>
            <tr>
                <th><label for="citizen">Ciudadano</label></th>
                <td><input type="number" id="citizen" th:field="*{citizen}"></td>
            </tr>
            <tr>
                <th><label for="occupied">Numero de personas</label></th>
                <td><input type="number" id="occupied" th:field="*{occupied}"></td>
            </tr>
            <tr>
                <th><label for="enter">Entrada</label> y <label for="exit">Salida</label></th>
                <td><input type="time" id="enter" th:field="*{enter}"><input type="time" id="exit" th:field="*{exit}"></td>
            </tr>
        </table>
        <input type="submit" value="Añadir reserva" /></td>
    </form>
</main>