<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<span layout:fragment="title" th:if="*{session.user instanceof T(app.model.Citizen)}" >Tus reservas</span>
<span layout:fragment="title"
      th:unless="*{session.user instanceof T(app.model.Citizen)}"
      th:text="'Reservas de ' + ${data[0].area.name} + ' (' + ${data[0].municipality.name} + ')'">
</span>
<main layout:fragment="content">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Código</th>
            <th th:unless="${session.user instanceOf T(app.model.Citizen)}" >Ciudadano</th>
            <th>Número de personas</th>
            <th>Área</th>
            <th>Zonas</th>
            <th>Día</th>
            <th>Horario</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${#lists.isEmpty(object)}">
            <td colspan="7" th:if="${session.user instanceOf T(app.model.Citizen)">No hay ninguna reserva</td>
            <td colspan="8" th:unless="${session.user instanceOf T(app.model.Citizen)">No hay ninguna reserva</td>
        </tr>
        <tr th:each="object: ${object}">
            <td th:text="*{object.id}"></td>
            <td th:unless="${session.user instanceOf T(app.model.Citizen)"  th:text="*{data[objectStat.index].citizen.toDisplayName}"></td>
            <td th:text="*{object.occupied}"></td>
            <td th:text="*{data[objectStat.index].area.name}"></td>
            <td th:text="*{data[objectStat.index].zone}"></td>
            <td th:text="*{object.date}"></td>
            <td th:text="*{data[objectStat.index].areaPeriod.toPeriodString}"></td>
            <td>
                <a th:if="${((session.user instanceof T(app.model.MunicipalManager)) or (session.user instanceof T(app.model.ControlStaff))) and object.active}"
                   th:href="@{/reservation/update/{id}(id=${object.id})}" class="btn btn-warning" role="button">Actualizar
                </a>
                <a th:href="@{/reservation/delete/{id}(id=${object.id})}"
                   onclick="return confirm('¿Seguro que desea cancelar la reserva?')"
                   class="btn btn-danger" role="button"
                   th:if="*{object.active and session.user != null and not (session.user instanceof T(app.model.EnviromentalManager)) and object.active }">Cancelar
                    la reserva</a>
            </td>
        </tr>
        </tbody>
    </table>
</main>