<!DOCTYPE html>
<html data-layout-decorate="~{fragments/base}">
<span data-layout-fragment="title"
      data-th-text="'Actualizar reserva para ' + ${data.area.name} + ' (' + ${data.municipality.name} + ')'"></span>
<main data-layout-fragment="content">
    <form data-th-object="${object}" method="post"
          onsubmit="return confirm('¿Seguro que desea actualizar los datos y los datos son correctos?')">
        <img class="img-fluid" src="" data-th-src="${data.area.image}" alt="Plano">
        <table>
            <tr data-th-unless="${session.user instanceOf T(app.model.Citizen)}">
                <th>Ciudadano</th>
                <td data-th-text="${data.citizen.toDisplayName}"></td>
            </tr>
            <tr>
                <th><label for="date">Fecha</label></th>
                <td><input required="required" type="date" id="date" data-th-field="*{date}"
                           data-th-attr="min=${data.date.start},max=${data.date.end}"></td>
            </tr>
            <tr data-th-each="err : ${#fields.errors('date')}">
                <td colspan="2">
                    <div class="alert alert-danger" role="alert" data-th-text="${err}"></div>
                </td>
            </tr>
            <tr>
                <th>Horario</th>
                <td data-th-text="${data.areaPeriod.toPeriodString}"></td>
            </tr>
            <tr data-th-unless="${session.user instanceOf T(app.model.Citizen)}">
                <th><label for="enter">Entrada</label></th>
                <td><input type="time" id="enter" data-th-field="*{enter}"
                           data-th-attr="min=${data.areaPeriod.periodStart},max=${data.areaPeriod.periodEnd}"
                           data-th-disabled="${data.origin.enter != null}"></td>
            </tr>
            <tr data-th-unless="${session.user instanceOf T(app.model.Citizen)}"
                data-th-each="err : ${#fields.errors('enter')}">
                <td colspan="2">
                    <div class="alert alert-danger" role="alert" data-th-text="${err}"></div>
                </td>
            </tr>
            <tr data-th-unless="${session.user instanceOf T(app.model.Citizen)}">
                <th><label for="exit">Salida</label></th>
                <td><input type="time" id="exit" data-th-field="*{exit}"
                           data-th-attr="min=${data.areaPeriod.periodStart},max=${data.areaPeriod.periodEnd}"
                           data-th-disabled="${data.origin.exit != null}"></td>
            </tr>
            <tr data-th-unless="${session.user instanceOf T(app.model.Citizen)}"
                data-th-each="err : ${#fields.errors('exit')}">
                <td colspan="2">
                    <div class="alert alert-danger" role="alert" data-th-text="${err}"></div>
                </td>
            </tr>
            <tr>
                <th><label for="zones">Zonas</label></th>
                <td>
                    <select required="required" id="zones" data-th-field="*{zones}" multiple="multiple">
                        <option data-th-each="zone: ${data.areaZone}" data-th-value="${zone.id}"
                                data-th-text="${zone.toDisplayName}"></option>
                    </select>
                </td>
            </tr>
            <tr data-th-each="err : ${#fields.errors('zones')}">
                <td colspan="2">
                    <div class="alert alert-danger" role="alert" data-th-text="${err}"></div>
                </td>
            </tr>
            <tr>
                <th><label for="occupied">Número de personas</label></th>
                <td><input required="required" type="number" id="occupied" data-th-field="*{occupied}" min="1"></td>
            </tr>
            <tr data-th-each="err : ${#fields.errors('occupied')}">
                <td colspan="2">
                    <div class="alert alert-danger" role="alert" data-th-text="${err}"></div>
                </td>
            </tr>
        </table>
        <input
                type="submit" value="Actualizar" class="btn btn-warning"/>
    </form>
</main>