<!DOCTYPE html>
<html
        class="reservation-view"
        data-layout-decorate="~{fragments/base}">
<span data-layout-fragment="title"
      data-th-text="'Información de la reserva para ' + ${data.area.name} + ' (' + ${data.municipality.name} + ')'"></span>
<main data-layout-fragment="content">
    <form data-th-object="${object}">
        <table>
            <tr>
                <th>Código QR</th>
                <td>  <img class="img-fluid view" src="" data-th-src="@{/reservation/img/{id}(id=${object.id})}"></td>
            </tr>
            <tr>
                <th>Ciudadano</th>
                <td data-th-text="${data.citizen.toDisplayName}"></td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td data-th-text="*{date}"></td>
            </tr>
            <tr>
                <th>Horario</th>
                <td data-th-text="${data.areaPeriod.toPeriodString}"></td>
            </tr>
            <tr>
                <th>Zonas</th>
                <td data-th-text="${data.zone}"></td>
            </tr>
            <tr>
                <th>Número de personas</th>
                <td data-th-text="*{occupied}"></td>
            </tr>
        </table>
        <div role="presentation" class="text-left info">
            <h2>Información adicional</h2>
            <p>
                Presente el código QR para acceder a la zona reservada.
            </p>
            <p>
                Si quiere volver a acceder a estos datos, siempre puede ver los desde Gestión de reservas.
            </p>
            <p>
                También dispone de una confirmación de reserva en su correo.
            </p>
        </div>
        <a
                data-th-href="@{/reservation/list}" class="btn btn-info"
                role="button">Gestionar reservas</a>
    </form>
</main>