<!DOCTYPE html>
<html
        data-layout-decorate="~{fragments/base}">
<span data-layout-fragment="title"
      data-th-text="'Añadir horario a ' + ${data.area.name} + ' (' + ${data.municipality.name} + ')'"></span>
<main data-layout-fragment="content">
    <form
            onsubmit="return confirm('¿Seguro que desea añadir el horario y los datos son correctos?')"
            data-th-object="${object}" method="post">
        <table>
            <tr>
                <th><label for="scheduleStart">Fecha de inicio</label></th>
                <td><input required="required" type="date" id="scheduleStart" data-th-field="*{scheduleStart}"></td>
            </tr>
            <tr data-th-each="err : ${#fields.errors('scheduleStart')}">
                <td colspan="2">
                    <div class="alert alert-danger" role="alert" data-th-text="${err}"></div>
                </td>
            </tr>
            <tr>
                <th><label for="scheduleEnd">Fecha de fin</label></th>
                <td><input type="date" id="scheduleEnd" data-th-field="*{scheduleEnd}"></td>
            </tr>
            <tr data-th-each="err : ${#fields.errors('scheduleEnd')}">
                <td colspan="2">
                    <div class="alert alert-danger" role="alert" data-th-text="${err}"></div>
                </td>
            </tr>
            <tr>
                <th><label for="periodStart">Hora de inicio</label></th>
                <td><input required="required" type="time" id="periodStart" data-th-field="*{periodStart}"></td>
            </tr>
            <tr data-th-each="err : ${#fields.errors('periodStart')}">
                <td colspan="2">
                    <div class="alert alert-danger" role="alert" data-th-text="${err}"></div>
                </td>
            </tr>
            <tr>
                <th><label for="periodEnd">Hora de fin</label></th>
                <td><input required="required" type="time" id="periodEnd" data-th-field="*{periodEnd}"></td>
            </tr>
            <tr data-th-each="err : ${#fields.errors('periodEnd')}">
                <td colspan="2">
                    <div class="alert alert-danger" role="alert" data-th-text="${err}"></div>
                </td>
            </tr>
        </table>
        <input type="submit" value="Añadir" class="btn btn-success"/>
    </form>
</main>