<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<span layout:fragment="title">Lista de personal de control</span>
<main layout:fragment="content">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Identificación</th>
            <th>Nombre</th>
            <th>Correo electrónico</th>
            <th>Contraseña</th>
            <th>Horario</th>
            <th>Validez</th>
            <th><a href="add" class="btn btn-success" role="button">Dar de alta</a></th>
        </tr>
        </thead>
        <tbody>
            <tr th:if="${#lists.isEmpty(object)}">
                <td colspan="8">No hay ningún ciudadano registrado
                <td>
            </tr>
            <tr th:each="object: ${objects}">
                <td th:text="*{object.id}"></td>
                <td th:text="*{object.identification}"></td>
                <td th:text="*{object.name}"></td>
                <td th:text="*{object.password}"></td>
                <td th:text="*{data[objectStat.index].areaPeriod.toPeriodString}"></td>
                <td th:text="*{object.toSignString}"></td>
                <td><a th:href="@{delete/{id}(id=${object.id})}"
                       onclick="return confirm('¿Seguro que desea dar de baja al personal de control?')"
                       class="btn btn-danger" role="button" th:if="*{object.active}">Dar de baja</a></td>
            </tr>
        </tbody>
    </table>
</main>