<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<span layout:fragment="title">Tus datos</span>
<main layout:fragment="content">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Identificación</th>
            <th>Nombre</th>
            <th>Correo electrónico</th>
            <th>País</th>
            <th>Ciudad</th>
            <th>Dirección</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${#lists.isEmpty(object)}">
            <td colspan="7">No hay ningún ciudadano registrado</td>
        </tr>
        <tr th:each="object: ${object}">
            <td th:text="*{object.identification}"></td>
            <td th:text="*{object.name}"></td>
            <td th:text="*{object.mail}"></td>
            <td th:text="*{object.country.name}"></td>
            <td th:text="*{object.city}"></td>
            <td th:text="*{object.address}"></td>
            <td>
                <a th:href="@{/citizen/update}" class="btn btn-warning" role="button">Actualizar
                </a>
                <a th:href="@{/citizen/delete}"
                   onclick="return confirm('¿Seguro que desea darse de baja?')"
                   class="btn btn-danger" role="button">Dar de baja</a></td>
        </tr>
        </tbody>
    </table>

</main>