<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link type="text/css" data-th-href="@{/css/base.css}" rel="stylesheet"/>
    <title data-layout-title-pattern="$CONTENT_TITLE">Safe Access to Natural Areas</title>
</head>
<body class="container">
<header class="page-header">
    <h1><img class="brand-logo" src="/img/logo.png" data-th-src="@{/img/logo.png}"><abbr
            title="Safe Access to Natural Areas">SANA</abbr> - <span data-layout-fragment="title"></span></h1>
    <nav data-th-replace="fragments/nav"></nav>
</header>
<main data-layout-fragment="content"></main>
<footer data-th-replace="fragments/footer"></footer>
</body>
</html>