<!DOCTYPE html>
<html
        data-layout-decorate="~{fragments/base}">
<span data-layout-fragment="title" data-th-text="'Áreas de ' + ${data[0].municipality.name}"></span>
<main data-layout-fragment="content">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nombre</th>
            <th data-th-if="${session.user instanceof T(app.model.MunicipalManager)}">Validez</th>
            <th>Tipo</th>
            <th>Descripción</th>
            <th>Localización</th>
            <th data-th-if="${session.user instanceof T(app.model.MunicipalManager)}">Ocupación</th>
            <th data-th-if="${session.user instanceof T(app.model.MunicipalManager)}">Imagen</th>
            <th class="text-center">Otros</th>
            <th class="text-center" data-th-if="${session.user instanceof T(app.model.MunicipalManager) and session.user.municipality == data[0].municipality.id and data[0].municipality.active}">
                <a
                   data-th-href="@{/area/add}" class="btn btn-success"
                   role="button">Añadir</a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-if="${#lists.isEmpty(object)}">
            <td colspan="8" data-th-if="${session.user instanceof T(app.model.MunicipalManager) and session.user.municipality == data[0].municipality.id and data[0].municipality.active}">No hay ninguna área
                registrada
            </td>
            <td colspan="7" data-th-if="${session.user instanceof T(app.model.MunicipalManager) and session.user.municipality == data[0].municipality.id and not data[0].municipality.active}">No hay ninguna área
                registrada
            </td>
            <td colspan="5" data-th-unless="${session.user instanceof T(app.model.MunicipalManager)}">No hay ninguna
                área
                registrada
            </td>
        </tr>
        <tr data-th-each="object: ${object}">
            <td data-th-text="*{object.name}"></td>
            <td data-th-text="*{object.toSignString}"
                data-th-if="${session.user instanceof T(app.model.MunicipalManager)}"></td>
            <td data-th-text="*{object.type.name}"></td>
            <td data-th-text="*{object.description}"></td>
            <td data-th-text="*{object.location}"></td>
            <td data-th-if="${session.user instanceof T(app.model.MunicipalManager)}" data-th-text="${data[objectStat.index].occupied}"></td>
            <td data-th-if="${session.user instanceof T(app.model.MunicipalManager)}"><a class="btn btn-info" data-th-href="*{object.image}"
                                                                                         target="_blank">Abrir</a></td>
            <td class="text-center">
                <a data-th-href="@{/area-period/list/{id}(id=${object.id})}" class="btn btn-success" role="button">Horarios</a>
                <a data-th-if="${session.user instanceof T(app.model.MunicipalManager) and session.user.municipality == data[objectStat.index].municipality.id}"
                   data-th-href="@{/zone/list/{id}(id=${object.id})}" class="btn btn-success" role="button">Zonas</a>
                <a data-th-if="${(session.user == null) or (session.user instanceof T(app.model.Citizen)) or (session.user instanceof T(app.model.MunicipalManager) and session.user.municipality == data[objectStat.index].municipality.id)}"
                   data-th-href="@{/service/list/{id}(id=${object.id})}" class="btn btn-success" role="button">Servicios</a>
            </td>
            <td class="text-center" data-th-if="${session.user instanceof T(app.model.MunicipalManager) and object.active and session.user.municipality == data[objectStat.index].municipality.id and data[0].municipality.active}">
                <a data-th-href="@{/area/update/{id}(id=${object.id})}" class="btn btn-warning" role="button">Actualizar
                </a>
                <a data-th-href="@{/area/delete/{id}(id=${object.id})}"
                   onclick="return confirm('¿Seguro que desea eliminar el área?')" class="btn btn-danger" role="button">Eliminar
                </a>
            </td>
        </tr>
        </tbody>
    </table>

</main>