<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<span layout:fragment="title">Inicio de sesión</span>
<main layout:fragment="content">
    <form th:object="${object}" method="post">
        <table>
            <tr>
                <th><label for="identification">Identificación:</label></th>
                <td><input required="required" type="text" id="identification" th:field="*{identification}"/></td>
            </tr>
            <tr th:each="err : ${#fields.errors('identification')}">
                <td colspan="2">
                    <div class="alert alert-danger" role="alert" th:text="${err}"></div>
                </td>
            </tr>
            <tr>
                <th><label for="password">Contraseña:</label></th>
                <td><input required="required" type="password" id="password" th:field="*{password}"/></td>
            </tr>
            <tr th:each="err : ${#fields.errors('password')}">
                <td colspan="2">
                    <div class="alert alert-danger" role="alert" th:text="${err}"></div>
                </td>
            </tr>
        </table>
        <input class="btn btn-success" type="submit" value="Iniciar sesión"/>
    </form>
</main>