<!DOCTYPE html>
<html
        data-layout-decorate="~{fragments/base}">
<span data-layout-fragment="title">Inicio de sesión</span>
<main data-layout-fragment="content">
    <form data-th-object="${object}" method="post">
        <table>
            <tr>
                <th><label for="identification">Identificación:</label></th>
                <td><input required="required" type="text" id="identification" data-th-field="*{identification}"/></td>
            </tr>
            <tr data-th-each="err : ${#fields.errors('identification')}">
                <td colspan="2">
                    <div class="alert alert-danger" role="alert" data-th-text="${err}"></div>
                </td>
            </tr>
            <tr>
                <th><label for="password">Contraseña:</label></th>
                <td><input required="required" type="password" id="password" data-th-field="*{password}"/></td>
            </tr>
            <tr data-th-each="err : ${#fields.errors('password')}">
                <td colspan="2">
                    <div class="alert alert-danger" role="alert" data-th-text="${err}"></div>
                </td>
            </tr>
        </table>
        <input class="btn btn-success" type="submit" value="Iniciar sesión"/>
    </form>
</main>