<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<span layout:fragment="title">Añadir Zona</span>
<main layout:fragment="content">
    <form action="#" th:action="@{/zone/add}"
          th:object="${object}" method="post">
        <table>
            <tr>
                <th><label for="name">Nombre</label></th>
                <td><input type="text" id="name" th:field="*{name}"></td>
            </tr>
            <tr>
                <th><label for="area">Área</label></th>
                <td><input type="text" id="area" th:field="*{area}"></td>
            </tr>
            <tr>
                <th><label for="capacity">Capacidad</label></th>
                <td><input type="text" id="capacity" th:field="*{capacity}"></td>
            </tr>
        </table>
        <input type="submit" onclick="return confirm('¿Seguro que desea añadir la zona y los datos son correctos?')"
               value="Añadir Zona" class="btn btn-success" />Añadir zona</td>
    </form>
</main>