<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<span layout:fragment="title"
      th:text="'Añadir zona a ' + ${data[0].area.name} + ' (' + ${data[0].municipality.name} + ')'"></span>
<main layout:fragment="content">
    <form
            th:object="${object}" method="post">
        <table>
            <tr>
                <th><label for="name">Nombre</label></th>
                <td><input type="text" id="name" th:field="*{name}"></td>
            </tr>
            <tr th:each="err : ${#fields.errors('name')}">
                <td colspan="2">
                    <div class="alert alert-danger" role="alert" th:text="${err}"></div>
                </td>
            </tr>
            <tr>
                <th><label for="capacity">Capacidad</label></th>
                <td><input type="text" id="capacity" th:field="*{capacity}"></td>
            </tr>
            <tr th:each="err : ${#fields.errors('capacity')}">
                <td colspan="2">
                    <div class="alert alert-danger" role="alert" th:text="${err}"></div>
                </td>
            </tr>
        </table>
        <input type="submit" onclick="return confirm('¿Seguro que desea añadir la zona y los datos son correctos?')"
               value="Añadir" class="btn btn-success"/>Añadir zona</td>
    </form>
</main>