<!DOCTYPE html>
<html data-layout-decorate="~{fragments/base}">
<span data-layout-fragment="title">
    <span data-th-if="*{session.user instanceof T(app.model.MunicipalManager)}">Tus datos</span>
    <span data-th-if="*{session.user instanceof T(app.model.EnviromentalManager)}"
          data-th-text="'Gestores municipales de ' + ${session.data.municipality.name}"></span>
</span>
<main data-layout-fragment="content">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Identificación (NIF)</th>
            <th>Nombre</th>
            <th data-th-if="${session.user instanceof T(app.model.EnviromentalManager)}">Validez</th>
            <th>Correo electrónico</th>
            <th>Teléfono</th>
            <th>
                <a data-th-if="${session.user instanceof T(app.model.EnviromentalManager)}"
                   data-th-href="@{/municipal-manager/add/{id}(id=${session.data.municipality.id})}" class="btn btn-success"
                   role="button">Añadir</a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-if="${#lists.isEmpty(object)}">
            <td class="text-center" colspan="7"
                data-th-if="${session.user instanceof T(app.model.EnviromentalManager)}">Lista de gestores y
                gestoras municipales
            </td>
            <td class="text-center" colspan="6"
                data-th-unless="${session.user instanceof T(app.model.EnviromentalManager)}">Lista de
                gestores y
                gestoras municipales
            </td>
        </tr>
        <tr data-th-each="object: ${object}">
            <td data-th-text="*{object.identification}"></td>
            <td data-th-text="*{object.name}"></td>
            <td data-th-text="*{object.toSignString}"
                data-th-if="${session.user instanceof T(app.model.EnviromentalManager)}"></td>
            <td data-th-text="*{object.mail}"></td>
            <td data-th-text="*{object.phone}"></td>
            <td>
                <a data-th-if="${session.user instanceof T(app.model.MunicipalManager) and object.active}"
                   data-th-href="@{/municipal-manager/update}" class="btn btn-warning"
                   role="button">Actualizar
                </a>
                <a data-th-if="${session.user instanceof T(app.model.EnviromentalManager) and object.active}"
                   data-th-href="@{/municipal-manager/update/{id}(id=${object.id})}" class="btn btn-warning"
                   role="button">Actualizar
                </a>
                <a data-th-if="${session.user instanceof T(app.model.EnviromentalManager) and object.active}"
                   data-th-href="@{/municipal-manager/delete/{id}(id=${object.id})}"
                   onclick="return confirm('¿Seguro que desea dar de baja al gestor municipal?')"
                   class="btn btn-danger" role="button">Dar de baja</a>
            </td>
        </tr>
        </tbody>
    </table>
</main>