<!DOCTYPE html>
<html
        data-layout-decorate="~{fragments/base}">
<span data-layout-fragment="title" data-th-text="'Actualizar gestor de ' + ${data.municipality.name}"></span>
<main data-layout-fragment="content">
    <form onsubmit="return confirm('¿Seguro que desea actualizar los datos y los datos son correctos?')"
          data-th-object="${object}" method="post">
        <table>
            <tr>
                <th><label for="identification">Identificación (NIF)</label></th>
                <td><input required="required" type="text" id="identification" data-th-field="*{identification}"></td>
            </tr>
            <tr data-th-each="err : ${#fields.errors('identification')}">
                <td colspan="2">
                    <div class="alert alert-danger" role="alert" data-th-text="${err}"></div>
                </td>
            </tr>
            <tr>
                <th><label for="name">Nombre</label></th>
                <td><input required="required" type="text" id="name" data-th-field="*{name}"></td>
            </tr>
            <tr data-th-each="err : ${#fields.errors('name')}">
                <td colspan="2">
                    <div class="alert alert-danger" role="alert" data-th-text="${err}"></div>
                </td>
            </tr>
            <tr>
                <th><label for="mail">Correo Electrónico</label></th>
                <td><input required="required" type="email" id="mail" data-th-field="*{mail}"></td>
            </tr>
            <tr data-th-each="err : ${#fields.errors('mail')}">
                <td colspan="2">
                    <div class="alert alert-danger" role="alert" data-th-text="${err}"></div>
                </td>
            </tr>
            <tr>
                <th><label for="password">Contraseña</label></th>
                <td><input type="password" placeholder="Mantener la misma" id="password" data-th-field="*{password}">
                </td>
            </tr>
            <tr data-th-each="err : ${#fields.errors('password')}">
                <td colspan="2">
                    <div class="alert alert-danger" role="alert" data-th-text="${err}"></div>
                </td>
            </tr>
            <tr>
                <th><label for="phone">Teléfono</label></th>
                <td><input required="required" type="text" id="phone" data-th-field="*{phone}"></td>
            </tr>
            <tr data-th-each="err : ${#fields.errors('phone')}">
                <td colspan="2">
                    <div class="alert alert-danger" role="alert" data-th-text="${err}"></div>
                </td>
            </tr>
        </table>
        <input type="submit" value="Actualizar" class="btn btn-warning"/>
    </form>
</main>